<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="index.master.cs" Inherits="SLCD.designer.index" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Home</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div>
        <asp:ContentPlaceHolder ID="content" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
